.input-group {
    padding: 0 0 20px 0 !important;
}

.input-required::after {
    content: "*";
    color: #ff3636e0;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 5px;
}

.error-message {
    color: #ff3636e0;
    font-size: 0.8em;
    font-weight: bold;
}

.form-control.error-message {
    border-color: #ff3636e0;
}

#loading {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
}

.lds-dual-ring {
    margin: 0 auto;
    position: absolute;
    z-index: 100;
    top: calc(50% - 50px);
    bottom: calc(50% - 50px);
    left: calc(50% - 20px);
    right: calc(50% - 20px);
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(151, 148, 148);
    border-color: rgb(151, 148, 148) transparent rgb(151, 148, 148) transparent;
    -webkit-animation: lds-dual-ring 1.2s linear infinite;
    animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .modal-dialog {
        max-width: 100% !important;
    }
}


.custom-alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bg-danger {
    background-color: #dc3545;
}

.text-white {
    color: #fff;
}

/* thead th {
    max-width: 200px !important;
    width: 200px !important;
    height: 50px;
    padding: 1px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


tbody td {
    max-width: 200px !important;
    width: 200px !important;
    height: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 576px) {
    thead th {
        max-width:  200px;
        width:  200px;
        height: 50px;
        padding: 1px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tbody td {
        max-width:  200px;
        width:  200px;
        height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
} */

.custom-table {
    table-layout: fixed;
    width: auto !important;
}

.custom-table td,
.custom-table th {
    width: 110px !important;
    height: 50px !important;
    max-width: 110px !important;
    max-height: 50px !important;
    min-width: 110px !important;
    min-height: 50px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.table thead th {
     vertical-align: middle;
     border-bottom: 2px solid #dee2e6;
}
.pagination li.active {
    z-index: 1;
}

.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height-item {
    flex: 1 0 auto;
}


.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    user-select: none;
   
}

.select2 .select2-container .select2-container--default{
    width: 100%;
}